@import './forms';
@import './colors';

.app-wrapper {
    position: relative;
    background-color: $primary-gray;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .todo-form-wrapper {
        @include todo-form-wrapper;
    }

    .todo-list-wrapper {
        .todo-list {
            @include todo-list;
        }
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
button,
input,
input::-webkit-input-placeholder {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}